# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-node@v1.4.2
    - uses: actions/checkout@master
    - name: Set Git Configs
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
    - name: Install
      run: |
        yarn
        yarn build
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages-test  # default: gh-pages
        publish_dir: ./build
    - name: Commit files
      run: |
        git commit -m "Version bump" -a
    - name: Push changes
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
